@{
    ViewBag.Title = "Users";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Observations</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Observation")">Observations</a>
            </li>
            <li class="active">
                <strong>Observation</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInDownBig">
    <div class="row" data-ng-controller="wildlifesightingController as vm">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <button ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary" type="submit">Add New</button>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="ibox-content-maps">
                        <ng-map zoom="4" center="-2.150359, 35.243393" style="width:100%; height:100%" on-click="vm.placeMarker()" on-zoom_changed="vm.drawUTMZone()" map-type-id="ROADMAP">

                        </ng-map>
                    </div>
                    <form name="addUser" data-ng-show="addMode" class="observations">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="form-group"><label>Location*</label><label style="width:50%;text-align:right;">USNG : {{USNG}} </label></div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span><input type="text" data-ng-model="Location" class="form-control" focus-me="{{addMode}}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group"><label>Species*</label> </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-linux"></i></span><select class="form-control" ng-model="SpeciesID" ng-options="specie.SpeciesID as specie.SpeciesName for specie in Species"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <br />
                            <div class="form-group" id="data_1"><label>Date*</label></div>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="date" data-ng-model="SightingDate" format-date class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <br />
                            <div class="form-group" id="data_2"><label>Notes*</label> </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input type="text" data-ng-model="Notes" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <br />
                            <div class="form-group" id="data_2"><label>Upload a Photo</label> </div>
                            <div class="input-group">
                                <label title="Upload image file" for="inputImage" class="btn btn-primary">
                                    <input type="file" accept="image/*" name="file" id="inputImage" class="hide" ng-model="Image" app-filereader>
                                    Choose image ....
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-0">
                                <br />
                                <div class="form-group" id="data_2"><label></label> </div>
                                <button class="btn btn-primary" data-ng-click="save()" type="submit">Save changes</button>
                                <button class="btn btn-white" data-ng-click="toggleAdd()" type="button">Cancel</button>
                                <br />
                            </div>
                        </div>

                    </form>
                    <table id="usersTable" data-datatable="" data-dt-options="dtOptions" data-dt-columns="dtColumns" class="table table-striped table-bordered table-hover dataTables-example animated fadeInDown"></table>
                </div>
            </div>
        </div>
    </div>
</div>    